.modal {
  position: fixed;
  top: 10%;
  left: 15%;
  width: 70%;
  padding: 53px 63px;
  background-color: var(--white);
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.15);
  border-radius: 7px;
  z-index: 100;
}
