.karmaCounter {
  position: absolute;
  bottom: 10px;
  left: 20px;
}

.karmaCounter button {
  position: relative;
  z-index: 5;
}

.value {
  padding: 0 4px;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: var(--greyC4);
  text-align: center;
}

.down {
  transform: rotate(180deg) translateY(2px);
}

@media (min-width: 1024px) {

  .karmaCounter {
    position: static;
    display: flex;
    flex-direction: column;
  } 

  .value {
    padding: 4px 0;
    color: var(--black);
    font-size: 14px;
  }

  .down:hover svg path {
    fill: var(--orange);
  }

  .up:hover svg path {
    fill: var(--green);
  }
 
}
