.avatarWrapper {
  display: flex;
  align-items: center;
}

.altOrder {
  order: -3 !important;
}

.avatar {
  width: 20px;
  height: 20px;
  object-fit: cover;
  border-radius: 50%;
}

.nameLink {
  position: relative;
  padding-left: 4px;
  color: var(--orange);
  z-index: 10;
}


@media (min-width: 1024px) {
  .avatarWrapper {
    margin-left: 7px;
  }
  
  .avatarWrapper {
    order: 2;
  }

  .nameLink:hover { text-decoration: underline; }
}
